@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  font-family: 'Amaranth', sans-serif;
  padding: 0%;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0; 
}

main {
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  height: 100%; 
}

form {
  margin: auto; 
}

form div label {
  display: block;
}

form div {
  margin-bottom: 10px;
}
