button{
    background-color: rgb(223, 251, 218);
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.linha1{
    background-color: rgb(200, 200, 200);
    border: 1px solid black;
    text-align: left;
}
.linha2{
    background-color: rgb(151, 151, 151);
    border: 1px solid black;
   
}
.linha3{
    background-color: rgb(200, 200, 200);
    border: 1px solid black;
    text-align: left;
}
.linha4{
    background-color: rgb(151, 151, 151);
    border: 1px solid black;
    text-align: left;
}
.linha5{
    background-color: rgb(200, 200, 200);
    border: 1px solid black;
    text-align: left;
}

tr td, tr th{
    border: 1px #000000 solid;
    text-align: left;
}