* {
    font-family: Arial;
    
  }

  body{
    width: 100vw;
    height: 100vh;
}

  tbody{
    background-color: rgb(239, 239, 239);
    justify-content: center;
    align-items: center;
  }
  thead{
    background-color: #7b3232;
    
  }
 
  h1{
    color:black;
  }
 
 
    .form-header {
      color: #1f1f1f;
      margin-bottom: 1rem;
      display: flex;
      
  }
  
  
  
  #texto {
    width: 400px;
    height: 30px;
    border-radius: 5px;
  }
  
  #data {
    max-height: 110px;
    max-width: 110px;
  }
 
  #tudo{
    background-color: white;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    padding: calc(5%);
    width: calc(100%);
    color: white;
  }
  
  /* A classe background trabalha tanto com a cor de fundo dos inputs e também trabalha com a responsividade da área*/
  .background {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 7px 7px 0px;
    background-color: #fff;
   
  }
  
  /*centralização específica do body*/
  .centralizar {
    display: flex;
    justify-content: center;
    margin-top: auto;
  }
  
 input{
    cursor: pointer;
 }
  body {
    background-color: #fff;
  }
  
  input {
    background-color: #fff;
    border: solid 1px;
    border-color: #599191ff;
  }

  #botao {
    display: flex;
    justify-content: center;
  
  }
  
  input::placeholder {
    color: black;
    opacity: calc(70%);
  }
  
  
  
  label {
    color: black;
    font-weight: bold;
  }

  

  
.table, td, th{
    border: 1px solid;
    color: #1f1f1f;
    border-collapse: collapse;
}
/*NAVBAR AREA*/
.navbar{
    padding: 1% 3%;
    display: flex;
    background-color: #EEFFD9;
    
}

.navbar-brand{
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.navbar-brand img{
    margin-right: 10px;
}

.navbar #navbarSupportedContent{
    justify-content: space-between;   
}

.navbar-nav{
    gap: 25px;
    font-weight: 600;
}

.navbar form{
    display: flex;
}
/*BOTAO*/
a{
    text-decoration: none;
    color: white;
}
.Pbtn{
    display: flex;
    justify-content: center;
}
.btn{
    display: flex;
    justify-content: center;
    background-color: #3c7e36;
    color: black;
    padding: 10px;
    text-align: center;
    max-width: calc(13%);
    height: 50px;
    font-size: 18pt;
    border: transparent;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    
}

.btn:hover {
    background-color: black;
    transition: all .3s ease-out;
    color: #3c7e36;
}

.botao {
    display: flex;
    justify-content: center;
    padding: 15%;
    
}


.fa-user-o {
    position: absolute;
    top: 17px;
    right: 10px;
    color: rgb(80, 75, 75);
}